<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://fontlibrary.org/en/face/cmu-serif"/>
    <link rel="stylesheet" href="https://use.typekit.net/fxw2jrd.css">
    <link rel="stylesheet" href="/static/quickstyles.css">
    <link rel="apple-touch-icon" sizes="57x57" href="https://physicsim.co.uk/assets/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://physicsim.co.uk/assets/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://physicsim.co.uk/assets/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://physicsim.co.uk/assets/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://physicsim.co.uk/assets/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://physicsim.co.uk/assets/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://physicsim.co.uk/assets/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://physicsim.co.uk/assets/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://physicsim.co.uk/assets/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://physicsim.co.uk/assets/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://physicsim.co.uk/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://physicsim.co.uk/assets/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://physicsim.co.uk/assets/favicon-16x16.png">
    <meta name="theme-color" content="#1e1e1e">
    <title id="tab-title">Physicsim</title>
</head>
<body id="body">
    <div class="loading-wrapper">
        <div class="loading-container">
            <img class="loading-logo" src="/static/logo-header.png">
            <h1 class="loading-txt" id="loading-txt">Loading...</h1>
        </div>
    </div>
    <div class="header-wrapper">
        <a href="https://physicsim.co.uk">
            <img class="header-logo" src="/static/logo-header.png">
        </a>
        <h1 class="header-title" id="header-title"></h1>
    </div>
    <div class="sim-wrapper">
        <canvas id="sim-wrapper"></canvas>
    </div>
    <div class="ctrl-wrapper" id="ctrl-wrapper"></div>
    <div class="attr-wrapper" id="attr-wrapper"></div>
    <div class="description-wrapper" id="description-wrapper">
        <p>Change the values below, for some simulations you may need to press reset for the changes to take effect.</p>
        <p id="description"></p>
    </div>
    <div class="inputs-wrapper" id="inputs-wrapper"></div>
</body>
</html>