/* Brand Colours */
:root {
    --main-bg: #1e1e1e;
    --off-bg: #080808;
    --ctrl-bg: #ffffff;
    --off-ctrl-bg: #ececec;
    --alt-green: #a6bd6f;
    --alt-purple: #6c46cc;
    --alt-red: #9c6270;
    --alt-blue: #aacadb;    
}

/* NumInput */
.num-input-input {
    width: 40px;
    height: 20px;
    margin: .1em;
    padding: .2em;
    background-color: var(--ctrl-bg);
    outline: none;
    border: none;
    font-size: medium;
    font-family: 'CMUSerifRoman';
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.num-input-input::-webkit-outer-spin-button,
.num-input-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-disabled {
    color: #fff;
}

/* VectorInput */
.vector-input-container {
    display: flex;
    align-items: center;
    font-family: 'CMUSerifRoman';
    font-weight: normal;
    font-style: normal;
    padding: .5em;
}

.vector-input-label {
    text-decoration: underline;
}

.vector-input-text {
    padding: .5em;
}

.vector-input-bra {
    width: 40px;
    z-index: 1;
}

.vector-input-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10px;
}

/* Value Input */
.value-input-container {
    display: flex;
    align-items: center;
    font-size: medium;
    font-family: 'CMUSerifRoman';
    font-weight: normal;
    font-style: normal;
    padding: .5em;
}

.value-input-text {
    padding: .25em;
}

/* Slider Input */
.slider-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

input[type="range"].slider-input-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none; 
    transition: background 0.3s ease;
}

input[type="range"].slider-input-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--alt-green);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="range"].slider-input-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: var(--alt-green);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: background 0.3s ease;
}

input[type="range"].slider-input-slider::-ms-thumb {
    width: 16px;
    height: 16px;
    background: var(--alt-green);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: background 0.3s ease;
}

input[type="range"].slider-input-slider::-webkit-slider-thumb:hover {
    background: var(--alt-purple);
}

input[type="range"].slider-input-slider::-webkit-slider-thumb:active {
    background: var(--alt-purple);
}

/* Check box Input */
.check-box-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.check-box-input-input[type="checkbox"] {
    margin: 1em;
    width: 20px;
    height: 20px;
    outline: none;
    appearance: none;
    border: 2px solid var(--alt-green);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.check-box-input-input[type="checkbox"]:checked {
    background-color: #a6bd6f55;
}

.check-box-input-input[type="checkbox"]:checked::after {
    content: "✓";
    font-size: 14px;
    color: var(--main-bg);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Btn Tooltips */
.btn-wrapper {
    position: relative;
    display: inline-block;
    height: 100%;
}

.btn-tooltip {
  visibility: hidden;
  background-color: var(--main-bg);
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.3rem;

  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
  z-index: 300;
}

.btn-wrapper:hover .btn-tooltip {
    visibility: visible;
    opacity: 1;
}

/* RunBtn */
.btn-run {
    height: 100%;
    aspect-ratio: 1/1;
    border: none;
    outline: none;
    background-color: var(--alt-green);
    box-sizing: border-box;
    color: #fff;
    transition: all 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-run span {
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.btn-run:hover {
    background-color: #a6bd6f55;
}

/* PauseBtn */
.btn-pause {
    height: 100%;
    aspect-ratio: 1/1;
    border: none;
    outline: none;
    background-color: var(--alt-red);
    box-sizing: border-box;
    color: #fff;
    transition: all 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn-pause span {
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.btn-pause:hover {
    background-color: #9c627055;
}

/* Altbtn */
.btn-alt {
    height: 100%;
    aspect-ratio: 1/1;
    border: none;
    outline: none;
    background-color: var(--alt-blue);
    box-sizing: border-box;
    color: #fff;
    transition: background-color 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-alt span {
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.btn-alt:hover {
    background-color: #aacadb55;
}

/* ToggleBtn */
.btn-toggle {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #ffffff00;
    outline: none;
    border: none;
    color: #fff;
    transition: background-color 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-toggle span {
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.btn-toggle:hover {
    background-color: #6c46cc55;
}

.btn-toggle--selected {
    background-color: var(--alt-purple);
}
