.toolbar-wrapper {
    z-index: 100;
    position: absolute;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(5px 5px 10px #00000076);
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 75px;
    height: auto;
    padding: .1em .5em .1em .5em;
}

.header-title {
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #fff;
    padding: 0.5em 0 0.5em 0;
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: x-large;
}

.toolbar-container {
    display: flex;
    justify-content: flex-end;
}

.pane-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sim-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctrl-wrapper--bottom {
    position: absolute;
    left: 0;    
    bottom: 0;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.sim-wrapper {
    width: 70vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sim-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
}

.inputs-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: var(--ctrl-bg);
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction:column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-selector-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: display 250ms;
}

.input-selector-options {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.input-selector-option {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    border-bottom: 2px solid #9a9a9a;
    background-color: #eeeeee;
    width: 50%;
    transition: all 250ms;
}

.input-selector-option:hover {
    border-bottom: 2px solid #000;
}

.input-selector-option--selected {
    border-bottom: 2px solid #000;
    background-color: #ffffff;
}

.inputs-header-wrapper {
    width: 100%;
    padding: 1em 1em 0 1em;
    text-align: center;
    background-color: var(--off-ctrl-bg);
    color: #000;
}

.inputs-prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs-prompt-img-axis {
    height: 150px;
    width: auto;
}

.inputs-header-hide-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 0 .5em 0;
    background-color: var(--off-ctrl-bg);
}

.inputs-header-hide-header {
    font-size: large;
    padding-right: 1em;
}

.inputs-header-hide-btn {
    position: relative;
    background-color: var(--alt-green);
    outline: none;
    border: none;
    padding: .6em;
    color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 500ms;
}

.inputs-header-hide-btn:hover {
    background-color: var(--alt-purple);
}

.inputs-header-hide-btn-icon {
    width: 2em;
}

.inputs-container {
    width: 100%;
    padding-bottom: 2em;
}

.inputs-header {
    background-color: var(--main-bg);
    width: 100%;
    padding: 0.5em;
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: x-large;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.graphs-wrapper {  
    position: absolute;
    overflow-y: auto;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    background-color: var(--main-bg);
    overflow-x: hidden;
}

.graphs-container {
    width: 100%;
    display: grid;
    background-color: var(--main-bg);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 95%;
}

.graphs-header {
    background-color: var(--main-bg);
    width: 100%;
    padding: 0.5em;
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: x-large;
}

.graph {
    height: 350px;
}

.table-wrapper {
    width: 100%;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-spacing: 0;
    background-color: var(--ctrl-bg);
    color: #000;
}

.table-title {
    text-align: center;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--off-ctrl-bg);
    border-bottom: 2px solid var(--main-bg);
    margin: 0;
    padding: .75em;
}

.table-td {
    text-align: center;
    border: 0.5px solid var(--off-ctrl-bg);
}

.diagram-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--ctrl-bg);
    padding-bottom: 2em;
}

.frame-rate {
    font-size: small;
    color: #9a9a9a;
}

.attr-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100svh;
    padding: 1em;
    font-family: 'CMUSerifRoman';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    color: #c6c6c6;
}

@media (max-width: 900px) {
    .header-title {
        display: none;
    }

    .toolbar-wrapper {
        width: 100vw;
    }

    .inputs-wrapper {
        width: 100vw;
        height: 40svh;
        bottom: 0;
        top: auto;
    }

    .graphs-wrapper {
        width: 100vw;
        height: 40svh;
        bottom: 0;
        top: auto;
    }

    .inputs-header-wrapper {
        width: 100%;
    }

    .attr-wrapper {
        padding-top: 5em;
        justify-content: flex-start;
        font-size: small;
        color: #c6c6c6;
    }

    .ctrl-wrapper--bottom {
        bottom: auto;
        left: auto;
        right: 0;
        padding-top: 5em;
        flex-direction: column;
        align-items: flex-end;
    }

    .sim-wrapper {
        width: 100vw;
        height: 60svh;
    }
}